@model CategoryType
@{
    ViewBag.Title = "分类类型编辑";
}
<div>
    <ul class="breadcrumb admin-bread-ul">
        <li><a href="@Url.Action("Index","SysUser")">系统管理</a> <span class="divider">/</span></li>
        <li><a href="@Url.Action("Index","CategoryType")">分类类型管理</a> <span class="divider">/</span></li>
        <li class="active">分类类型编辑</li>
    </ul>
</div>
@using (Ajax.BeginForm("Edit", null, new AjaxOptions() { HttpMethod = "Post", OnBegin = "LS.admin.myfn.AjaxBegin('#form0')", OnSuccess = "LS.admin.myfn.AjaxSuccess" }, new { @class = "form-horizontal admin-form" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" value="@Model.ID" name="ID" />
    <input type="hidden" value="@Model.AddBy" name="AddBy" />
    <input type="hidden" value="@Model.AddByName" name="AddByName" />
    <input type="hidden" value="@Model.AddDate" name="AddDate" />

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="control-group">
            <label for="Name" class="control-label">分类类型名称</label>
            <div class="controls">
                <input type="text" maxlength="16" name="Name" placeholder="名称" validate min="2" max="10" value="@Model.Name">
                <span class="ls-msg help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label for="SortNo" class="control-label">排序号</label>
            <div class="controls">
                <input name="SortNo" id="SortNo" type="text" max="5" value="@Model.SortNo"/>
                <span class="ls-msg help-inline"></span>
            </div>
        </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        @Html.CheckBox("IsAvailable", Model.IsAvailable)启用
                    </label>
                </div>
            </div>        
        <div class="form-actions">
            <button class="btn btn-primary" type="submit" data-loading-text="提交中" data-complete-text="完成"><i class="icon-ok icon-white"></i>保存</button>
            <button class="btn" type="button" onclick="history.go(-1);">返回</button>
        </div>
    </div>
}

